
/* xaraya documentation CSS */

/* debugging device - do not uncomment next line without good reason */
/* * {outline: 1px dotted navy !important;} */
/*<group=required selectors>*/

/* xaraya required classes */
/*<group=body and links>*/

html {
	margin: 0;
	padding: 5pt;
	font-size: 0.9em;
}

/* in IE-Win fonts look a bit smallish, lets correct it but hide from IE5-Mac \ */
* html {
	font-size: 11pt;
}
/* end hide from IE5-Mac */


body {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: "lucida grande", "lucida grande unicode", helvetica, "helvetica neue", arial, sans-serif;
	font-size: 1em;
	line-height: 1.43em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background-color: #FFFFFF;
}

body a {
	font-family: "lucida grande", "lucida grande unicode", helvetica, "helvetica neue", arial, sans-serif;
} /* linux firefox apparently needs a bit more specificity for the links */

a {
	text-decoration: none;
	background-color: transparent;
}

a:link {
/* 	font-weight: bold; */
	color: #186278;
}
a:visited {
	color: #186278;
}
a:link:hover, a:visited:hover {
	text-decoration: underline;
	color: #FF5C28;
}
a:link:active, a:visited:active {
	text-decoration: none;
	color: #FF5C28;
}

/*</group>*/
/*<group=standard headers>*/

h1, h2, h3, h4 {
	/* 	font-family: "century gothic", arial, helvetica, sans-serif; */
	/* 	line-height: 120%; */
	font-family: georgia, "times new roman", serif;
	font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a {
	font-family: georgia, "times new roman", serif;
} /* linux firefox apparently needs a bit more specificity for the links */

h1 {
	color: #E14F21;
	font-size: 16px;
	line-height: 22px;
/* 	font-weight: bold; */
	padding: 3px 0 3px 0.3em;
	margin: 0px;
	background-image: url(../images/header_bg2.jpg);
	background-repeat: repeat-y;
	background-position: left center;
}

h2 {
	color: #186278;
	font-size: 15px;
	padding: 7px 0 3px 0.7em;
	background-image: url(../images/header_bg.gif);
	background-repeat: repeat-x;
	background-position: left center;
}

h3, .xar-title {
	color: #E14F21;
	font-size: 13px;
	background-color: transparent;
	margin: 0;
}

h4 {
	color: #E14F21;
	font-size: 12px;
	font-weight: bold;
/* 	line-height: 170%; */
	background-color: transparent;
	margin: 0;
}/*  xaraya required individual classes *//*  theme specific *//* h5, h6 {} */

/*</group>*/
/*<group=tables>*/

th {
	font-size: 12px;
	font-weight: bold;
	background-color: #D0E1E6;
}

td {
	font-size: 13px;
}

table {
	background-color: inherit;
	border-collapse: collapse;
} /* the aim of this theme is not to use any tables ;-) but the modules will be using 'em anyway */

table thead tr { background-color: #D2D8DF; }
tbody { }
tfoot { }

/*</group>*//*<group=general typography>*/

/* p { */
/* 	color: #15506E; */
/* 	font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, sans-serif; */
/* 	font-size: 10px; */
/* 	line-height: 132%; */
/* 	margin: .25em 0 .5em 0; */
/* 	padding:0; */
/* 	background-color: transparent; */
/* } */
p {
	margin: 0.5em 0 0.85em 0;
	background: transparent;
}

code, blockquote, blockquote p, pre {
	color: #495462;
	font-size: 11px;
	font-family: monospace;
	background-color: #f5f5f5;
	border-color: #D4DDE2;
	border-width: 2px;
	border-style: solid none solid none;
	padding: 0;
	margin: 0;
	/* 	word-spacing: -1pt; */
	line-height: 13px;
	white-space: normal;
}

blockquote {
	width: auto;
	display: block;
	margin-top: .5em;
	margin-left: .25em;
	margin-right: .25em;
	font-size: 11px;
	font-style: italic;
	font-family: inherit;
	padding: .5em 0 ;
}

blockquote,
code, 
pre { overflow: auto; }

blockquote pre {
	width: inherit;
	padding: .5em 0;
	margin: .25em 0;
	border: 0 none;
	background-color: #ffffff;
	overflow: visible;
	font-style: normal;
	font-family: monospace;
}

blockquote > pre { white-space: pre; }

/*</group>*//*<group=citation elements>*//* Not required, just in case */
/* citation elements */
abbr, acronym {
	border-bottom: 1px dotted #333;
	cursor: help;
}

address, cite {
	font-style: normal;
	margin: 0 0 1em;
}
    
/*</group>*//*<group=general form elements>*/
label {
	font-weight: bold;
/* 	display: block; */
}

label:first-letter {
	text-decoration: underline;
}

label.error {
	color: #C30;
	font-variant: small-caps;
}

input, select {
    font-size: 1em;
	font-weight: normal;
	color: #406486;
	background-color: #E6EFF0;
}

button { }

textarea {
	font-family: "Lucida Console", "Lucida Sans Unicode", "American Typewriter", "Andale Mono", monaco, courier, "Courier New", monospace;
	font-size: 10px;
	font-weight: normal;
	text-indent: 0px;
	color: #333333;
	background-color: #f9f9f9;
	padding: 0.2em;
	margin: 0;
}

/* input, textarea { */
/* 	font-family: "Lucida Sans Unicode", "Lucida Console", "American Typewriter", "Andale Mono", monaco, courier, "Courier New", monospace; */
/* } */

input[type=text], input[type=password], textarea {
	border-color: #848B95;
	border-width: 1px;
	border-style: solid;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus { border-color: #D46B00; }

input[type=submit] {
	background-color: #D2D8DF;
	margin-left: 0;
}

input[type=checkbox] {
	background-color: transparent;
	margin-left: 0;
}

/*</group>*//*<group=general others>*/

img {
	border: 0 none;
	background-color: transparent;
}

ul, ol, li {
/*   margin: 0; */
/*   padding: 0; */
  float:left;
  clear:left;
  line-height: 1.3em;
}

*|*:-moz-list-bullet, *|*:-moz-list-number {font-size: 1em;}

sup { }
sub { }
hr {
	width: auto;
	color: #999999;
	background-color: transparent;
}

/*</group>*/

/*</group>*/
/*<group=required anonymous classes>*/
/*<group=highlights and coors>*/

.xar-alt {
	background-color: #C3D4DF;
	color: #6B7885;
}

.xar-accent {
	background-color: #E5EEF1;
	color: #4B4B4B;
}

.xar-norm {
	/* 	background-color: #FFFFFF; */
	color: #15506E;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: auto;
}

/* stupid IE-Win needs being reminded of it's stupidity - hide from IE-Mac tho*/
/* \*/
/* * html .xar-norm { width: 100%; } */

/* */
.xar-alt-outline {
	border-color: #E47C55;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: auto;
}

.xar-accent-outline {
	border-color: #2185A2;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: auto;
}

.xar-norm-outline {
	border-style: none solid solid none;
	border-color: #C8D4E3;
	border-width: 1px;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: auto;
}

.xar-sub { font-size: 9px; }

.xar-error {
	color: #ff0000;
	background-color: #FFFEDA;
}
    
/*</group>*//*<group=blocks>*/.xar-block-head-left { }

.xar-block-title-left {
	color: #e14f21;
	font-size: 15px;
	font-weight: bold;
	background-color: transparent;
	padding-left: 5px;
}

.xar-block-body-left { font-weight: bold; }
.xar-block-foot-left { }
.xar-block-head-right { }

.xar-block-title-right {
	color: #E8EAF0;
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
}

.xar-block-body-right { font-weight: bold; }
.xar-block-foot-right { }

.xar-block-head { }

.xar-block-title {
	color: #3F6385;
	font-size: 15px;
	font-weight: bold;
	width: auto;
	padding: 1px 2px 2px 5px;
}

.xar-block-body {
	/* 	width: 150px; */
	/* 	margin-bottom: 10px; */
}

.xar-block-foot { }

/*</group>*//*<group=modules>*/

.xar-mod-head {
	padding: 3px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #E14F21;
}

.xar-mod-title {
	color: #2185A2;
	font-size: 13px;
	font-weight: bold;
	background-color: transparent;
}

.xar-mod-body {
/* 	quick fix to allow it to contain floaters and clearing elements without destroying the theme flow */
	float: left;
	width: 100%;
}
.xar-mod-foot { }

/*</group>*//*<group=menus>*/

.xar-menu-item,
.xar-menu-item-current,
.xar-menu-section,
.xar-menu-subitem,
.xar-menu-subitem-current {
    list-style-type: none;
}

.xar-menu-section {
	font-size: 13px;
	width: auto;
	margin-top: 3px;
/* 	margin-bottom: 1px; */
	font-weight: bold;
	color: #E14F21;
	background-color: transparent;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	background-image: url(../images/leftmenu_section_bg.jpg);
	background-repeat: repeat-y;
}

ul.xar-menu-section, ol.xar-menu-section {
    margin: 4px 10px 4px 0px;
    padding:0;
}

li.xar-menu-section {
	border-width: 1px 0 1px 0;
	border-color: #BCC9D1;
	border-style: solid;
	padding-bottom: 0;
}

.xar-menu-section-current {
	background-color: #e8eaf0;
	font-size: 11px;
	border-bottom: #191970;
	line-height: 15px;
	color: #8E3216;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
}

.xar-menu-item {
	color: #186278;
	font-size: 11px;
	padding-left: 0;
	margin-left:0; /* IE-win seem to need this margin set explicitly */
	font-weight: bold;
	background-color: transparent;
}

li.xar-menu-item {
	background-color: transparent;
	margin-left: 5px;
	padding-left: 5px;
	background-image: url(../images/leftmenu_section_bg.jpg);
	background-repeat: repeat-y;
	background-position: 0px 0px;
    text-transform: none;
}
.xar-menu-item a, .xar-menu-subitem a {
	color: #186278;
/* 	font-size: 11px; */
	background-color: transparent;
	line-height: 15px;
}

.xar-menu-item a:hover, .xar-menu-subitem:hover {
	color: #ffffff;
/* 	margin: auto; */
/* 	line-height: 15px; */
}

.xar-menu-item-current {
	font-size: 11px;
	padding-left: .5em;
	padding-bottom: .2em;
	font-weight: bold;
	color: #ffffff;
}

.xar-menu-subitem, .xar-menu-subitem a {
	font-size: 10px;
	margin-left: 0;
	padding-left: 0;
	font-weight: bold;
	color: #ffffff;
	background-color: transparent;
}

.xar-menu-subitem a {
	padding-left: .5em;
	border-color: #327286;
	border-width: 0 0 0 10px;
	border-style: none none none solid;
}

.xar-menu-subitem a:hover {
	color: #327286;
	border-color: #ffffff;
	border-width: 0 0 0 10px;
	border-style: none none none solid;
}

.xar-menu-subitem-current {
	font-size: 10px;
	margin: 0 6px 0 6px;
	color: #ffffff;
}

.xar-menu-item-current > .xar-menu-subitem > a {
	background-color: transparent;
	color: #FFFFFF;
}

/*</group>*/

/*</group>*//*<group=theme specific>*//*<group=theme positioning>*/

div#bigwrapperleftbackground {
	background: transparent url("../images/leftmenu.jpg");
	background-repeat: repeat-y;
}

/* need this for the left background */
div#bigwrapperrightbackground {
	background: transparent url("../images/right_centre.jpg") 100% 0;
	background-repeat: repeat-y;
	min-width: 780px;
}

/* need this for the right background */
#header {
	background-image: url("../images/topstrech.jpg");
	height: 100px;
	min-width: 780px;
}

#leftbox {
	float: left;
	width: 210px;
}

#leftmenus {
	width: 160px;
	margin-left: 25px;
}

/* massagig IE-Win a bit */
.contentarea {
	padding-top: 5px;
	padding-right: 85px;
	margin-left: 215px;
	padding-bottom: 0;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: auto;
	background-color: transparent;
}
/* need for old opera maybe */
html>body .contentarea {
	width: auto;
}

div.containingfloat {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

/* end massaging IE-Win */
/*** IE5/Mac has trouble with right positioned boxes due to a secret margin. ***/
#rightbox {
	position: absolute;
	right: 16px;
	margin-right: -15px;
	width: 85px;
	padding-top: 5px;
}

/* hide the following from IE5-Mac \*/
#rightbox {
	right: 0;
	margin-right: 0;
}
/* IE5-Mac can see the rest */

#wrapper {
	margin-right: 85px;
	padding-top: 5px;
}

/*** Tan hack for IE. Only IE browsers see this selector. ***/
* html #wrapper {
	width: 100%;
	/*** IE5.5 needs this value to eliminate a horizontal scrollbar ***/
	w\idth: auto;
}

/*** resets the value for IE6 and IE5-Mac ***/
#footer {
/*     position:relative; */
	height: 110px;
	min-width: 780px;
	background-image: url("../images/footer_slogan.jpg");
    margin: 0;
    padding: 0;
    clear:both;
}

.clearfloats {
	clear: both;
}

/*  need this sometimes hence it is a class */
#seabottom {
	background-image: url(../images/sea_bottom_left.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	min-width: 780px;
	height: 250px;
}

/*</group>*//*<group=theme top navigation>*/

.topnavlinks, .topnavlinks:active, .topnavlinks:visited {
	text-align: center;
	font-family: arial, "Trebuchet MS", helvetica, lucida, tahoma, sans-serif;
	color: #E1E8EE;
	font-weight: bold;
/* 	text-decoration: underline; */
}

a.topnavlinks {
	font-family: arial, "Trebuchet MS", helvetica, lucida, tahoma, sans-serif;
	font-size: 10px;
	text-align: center;
	color: #E1E8EE;
	font-weight: bold;
}

/* IE-Win needs smaller size? */
/* * html a.topnavlinks { */
/* 	font-family: "Trebuchet MS",lucida,tahoma,arial,sans-serif; */
/* 	font-size: 11px; */
/* 	text-align: center; */
/* 	color: #E1E8EE; */
/* 	font-weight: bold; */
/* } */


* html .topnavlinks:hover {
	color: #FF977B;
	text-decoration: none;
}

/* stupid IE-Win doesnt support > selector */
.topnavlinks > a:hover {
	color: #FF977B;
	text-decoration: none;
}

/*</group>*/

td.xar-norm { }
td.xar-alt { }/*<group=theme legacy>*/

/* some legacy style in articles display similar to h1 */
.xar-title {
	color: #186278;
/* 	font-size: 13px; */
	font-weight: bold;
	line-height: 130%;
	padding: 3px 0 3px 0.3em;
	margin: 0px;
}

.blocktitle {
	/* some blocks still used this class afaics */
	color: #e14f21;
	font-size: 15px;
	font-weight: bold;
	background-color: transparent;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	padding-left: 5px;
}

/*</group>*/

/*</group>*//*<group=tests and fun>*/

/* test and fun classes */
#xa-infolayer {
	position: absolute;
	width: 700px;
	height: 700px;
	background-image: url(../images/manta_bg.gif);
	display: none;
}

.lorem {
	margin: 60px auto auto 50px;
	width: 360px;
}

.lorem > p {
	color: #E8EAF0;
}

#bottomcreditswrapper {
	position: absolute;
	width: 480px;
	height: auto;
	top: 0px;
	left: 20px;
	background-color: transparent;
	border-color: #E14F21;
	border-width: 1px;
	border-style: solid;
	color: #E14F21;
	font-size: 10px;
	line-height: 1.1em;
	padding: 5px;
	margin: 0;
	display: none;
}

.bottomcredits {
	font-size: 10px;
	color: #186278;
	line-height: 1.1em;
	margin: 0 0 0.5em 0;
	padding: 0;
}

div.iewintablefixer {
	width: 100%;
	padding:0;
	margin:0;
}

/* * html div.iewintablefixer table {width:95%} */
/*</group>*/
