body {
	font-size:11px; 
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #FFFFFF
	}

table
    {
    font-size: 13px
    }

		
p.copyright { 
	color: #000000;
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif 
	}
	
p { 
	margin-left: 2em;
	margin-right: 2em;	
	}
	
li { 
	margin-left: 3em;
  margin-bottom: 6px;
	line-height: 125%;
	}
	
ol { 
	margin-left: 2em;
	margin-right: 2em;
	line-height: 125%;
	}
	
ul.text { 
	list-style-type:square;
	margin-left: 2em;
	margin-right: 2em;
	
	}
	
pre { 
	margin-left: 3em;
	color: #333333;
  background-color: lightyellow;
	}
	
ul.toc {
  color: #000000;
	line-height: 16px;
	font-family: verdana, arial, helvetica, sans-serif 
	}

.title { 
	color: #191970;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	text-align: left;
	font-family: verdana, arial, helvetica, sans-serif
	}
		
H1 {
	color: #191970;
	font-size: 18px;
	font-weight: bolder;
	font-family: Verdana,Arial,Helvetica;
  
	}
		
H2 {
	color: #191970;
	font-size: 14px;
	font-weight: bolder;
	font-family: Verdana,Arial,Helvetica;
	border-bottom : thin double #191970;
	line-height : 170%;
	text-indent: 2em;}

H3 {
	color: #191970;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica;
	line-height : 100%;
	text-indent: 2em;}
	
H4 {
	color: #191970;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica;
	line-height : 170%;
	text-indent: 2em;
  border-bottom: thing double #191970;
}

H5 { 
    color: #191970;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana,Arial,Helvetica;
  text-indent: 4em;
 }	

H6 {
	color: #191970;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana,Arial,Helvetica;
	text-indent: 6em;}
	
.header { 
  width: 66%;
 }
TD.header-l { 
	color: #ffffff;
    background-color: #666666;
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif
}

TD.header-r { 
   color: #ffffff;
   background-color: #666666;
   font-size: 10px;
   font-family: verdana, arial, helvetica, sans-serif
 }

TD.author-text { 
	color: #000000;
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif 
	}
	
TD.author { 
	color: #000000;
	font-weight: bold;
	margin-left: 4em;
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif 
	}

HR {
	width:100%;
	color:#C0C0C0
	}
		
A:link {	
	color: #333399; 
	font-weight: bold;
	text-decoration: none 
	}

A:hover {	
	color: #333399; 
	font-weight: bold;
	}	

A:active { 
	color: #330066;
	font-weight: bold;
	text-decoration: none 
	}		
	
A:visited { 
	color: #003366;
	font-weight: bold;
	text-decoration: none 
	}	

A:name { 
	color: #3333CC;
	font-weight: bold;
	text-decoration: none 
	}	
	
.link2 { 
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
  background-color: #191970;
	}
	
.RFC { 
	color:#336699;
	font-weight: bold;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px 
	}
	
.hotText { 
	color:#ffffff;
	font-weight: normal;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px 
	}
	
.filename { 
	color: #336699;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	text-align: right;
	font-family: verdana, arial, helvetica, sans-serif
	}	

.editingmark
    {
    background-color: khaki;
    }

.toowide
    {
    /*color: red;
      font-weight: bold; */
    }

.error
{ 
background-color: #191970;
color: white;
font-weight: bold;
font-size: 10px;
width: 550px;
padding: 5pt;
}

.figure
    {
      font-weight: bold;
      text-align: center;
      font-size: 9x;
    }

del
    {
      color: red;
    }

ins
    {
      color: blue;
    }

@media print 
    {
    .noprint {display:none}
    }